*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #009688 10vh, #DBDBD3 10vh, #DBDBD3 100%);
}

.app-container{
    height: calc(100vh - 30px);
    margin: 15px 0;
    background-color: #EAEAEA;
}

.user, .chat-container, .activechat{
    padding: 10px;
}

.user img, .chat-container img, .activechat img{
    width: 50px;
    border-radius: 50%;
}

.notify{
    background-color: #8EDAFC;
    padding: 10px;
}

.fa-bell-slash{
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    padding: 5px;
}

#findchat{
    width: 100%;
}

.chatlist{
    max-height: 520px;
    overflow-y: auto;
}

.chat-container{
    border-bottom: 1px solid gray;
}

ul{
    padding: 0;
}

.chat{
    background-image: url("../img/mine.jpg");
    width: 100%;
    height: 500px;
}

.msg{
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}

.sent{
    background-color: #D5F9BA;
    float: right;
}

.received{
    background-color: #FFFFFF;
    float: left;
}