*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #009688 10vh, #DBDBD3 10vh, #DBDBD3 100%);
}

.app-container{
    height: calc(100vh - 30px);
    margin: 15px 0;
    background-color: #EAEAEA;
}

.user, .chat-container, .activechat{
    padding: 10px;
}

.user{
    border-right: 1px solid #c0c0c0;
}

.user img, .chat-container img, .activechat img{
    width: 50px;
    border-radius: 50%;
}

.notify{
    background-color: #8EDAFC;
    padding: 12px;
}

.fa-bell-slash{
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    padding: 5px;
}

#findchat{
    width: 100%;
}

.chatlist{
    height: 76%;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.chatlistFull{
    height: 85%;
}

.highlighted{
    background-color: #EAEAEA;
}

li{
    border-bottom: 1px solid #f0f0f0;
}

li:last-of-type{
    border: none;
}

.chat-container .last{
    color: #B1B1B1;
}

ul{
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow: scroll;
}

.chat{
    background-image: url("../img/mine.jpg");
    height: 670px;
    padding: 25px;
    max-height: 670px;
    overflow-y: scroll;
}

.msg{
    border-radius: 20px;
    margin: 5px 0;
    padding: 10px;
    font-size: 13px;
    width: auto;
}

.date, .last{
    font-size: 9px;
}

.sent{
    background-color: #D5F9BA;
    float: right;
}

.received{
    background-color: #FFFFFF;
    float: left;
}

.sent, .received{
    content: "";
    clear: both;
    display: table;
}

.texting{
    padding: 5px;
    position: relative;
}

i{
    cursor: pointer;
    color: #B1B1B1;
    font-size: 22px;
}

.texting i{
    color: gray;
}

.fa-angle-down{
    font-size: 15px;
    text-align: right;
}

.opt-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.my-dropdown{
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    position: absolute;
    background-color: #FFFFFF;
}

.my-dropdown li, .opt-dropdown li{
    padding: 10px;
    border-bottom: 1px solid #EAEAEA;
}

.my-dropdown li:hover, .opt-dropdown li:hover{
    background-color: #8EDAFC;
}

.my-dropdown a, .opt-dropdown a{
    color: black;
}

.notifyOn{
    background-color: rgba(0, 0, 0, 0.5);
    color: lime;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 120%;
    left: 35%;
}

.emoji{
    position: absolute;
    bottom: 110%;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  
  
  
